############################################################################
# To distribute persistent changes to the configuration of the NI AOP5 plugin, copy this file to
# C:\ProgramData\National Instruments\Shared\USI\Plugins\DataPlugins\AOP5_64\uspAOP5_omniorb_custom.cfg
# If this file exists it will be used by NI AOP5 plugin instead of the installed one.

############################################################################
# giopMaxMsgSize
#
#    This value defines the ORB-wide limit on the size of GIOP message 
#    (excluding the header). If this limit is exceeded, the ORB will
#    refuse to send or receive the message and raise a MARSHAL exception.
#
#    Valid values = (n >= 8192)
#
# giopMaxMsgSize = 2097152    # 2 MBytes. is the default
giopMaxMsgSize = 262144000    # 250 MBytes.

############################################################################
# sslCAFile
# sslCAPath
# sslKeyFile
# sslKeyPassword
# sslVerifyMode
# sslAcceptTimeOut
#
#   SSL transport options
#
#   These options are only available if the SSL transport is linked.
#
#
#   sslCAFile specifies the file containing the SSL Certificate
#   Authority certificate.
#
#   sslCAPath specifies a directory containing SSL Certificate
#   Authority certificates.
#
#   sslKeyFile specifies the file containing the SSL key.
#
#   sslKeyPassword specifies the password to unlock the key.
#
#   sslVerifyMode specifies the verify mode, as given to
#   SSL_CTX_set_verify. Valid values are "none", representing
#   SSL_VERIFY_NONE, and "peer", representing SSL_VERIFY_PEER. If peer
#   is selected, additional options "fail" and "once" can also be
#   specified, corresponding to SSL_VERIFY_FAIL_IF_NO_PEER_CERT and
#   SSL_VERIFY_CLIENT_ONCE respectively. e.g.
#
#     sslVerifyMode = peer,fail
#
#  sslAcceptTimeOut is a timeout in milliseconds for calls to
#  SSL_accept. If the connection has not been accepted within the
#  specified time, the connection is dropped. The default is 10000,
#  i.e. 10 seconds.
sslCAFile=C:\Program Files\National Instruments\Shared\USI\DataPlugins\AOP5\uspAOP5_root.pem
